<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>
<!-- cources-start-->
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 course1">
        <!-- <div class="hover-content hidden">
          <h3>입문자를 위한 작심삼일 html, css, javascript 강의입니다.
            <br>따라하기 쉽게 기초, 개념부터 설계, 교육합니다.
          </h3>
          <h4>🥇 입문, 초급</h4>
          <h4>🛠 HTML/CSS/JavaScript</h4>
  
        </div> -->
        <div class="service-block c_lec">
          <div class="c_img">
            <img src="/images/htmlCssJs.png" alt="">
          </div>
          <div class="service-content">
            <h3><a href="#" class="title">작심삼일 HTML, CSS, JS 정복 !!!</a></h3>
            <p>김민정 연구원</p>
            <a href="#" class="btn-link">￦50,000</a> 
           </div>
        </div> 
       
      </div>

	<!-- cources-start-->
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="service-block c_lec">
          <div class="c_img">
            <img src="/images/mlDlAi.jpeg" alt="">
          </div>
          <div class="service-content">
            <h3><a href="#" class="title">머신러닝, 딥러닝, AI 헷갈리지 마세요 딱 정리해드립니다 !</a></h3>
            <p>엮은이 김경식</p>
            <a href="#" class="btn-link">￦150,000</a> </div>
        </div>
      </div>
      <!-- cources-close--> 

      <!-- <!-- 마우스오버시 불투명화 만들기 -->
      <!--<script type="text/javascript">
        $(document).ready(function(){
                $(".c_lec").hover(function(){
                    $(this).toggleClass("active");  //Toggle the active class to the area is hovered
                    $('.first').toggleClass("active");  //Toggle the active class to the area is hovered
                    $('.hover-content').toggleClass("hidden");
                });
            });
      </script> -->
     
      <!-- cources-start-->
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="service-block c_lec">
          <div class="c_img">
            <img src="/images/oracleDb.png" alt="">
          </div>
          <div class="service-content">
            <h3><a href="#" class="title">Oracle DB 최신 문법 + 최적화 비법 대공개 !!</a></h3>
            <p>숭어싸만코</p>
            <a href="#" class="btn-link">￦70,000</a> 
          </div>
        </div>
      </div>
      <!-- cources-close--> 

    
       <!-- cources-start-->
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="service-block c_lec">
          <div class="c_img">
            <img src="/images/Linux.png" alt="">
          </div>
          <div class="service-content">
            <h3><a href="#" class="title">리눅스 마스터 2급 1차 공략</a></h3>
            <p>백재현</p>
            <a href="#" class="btn-link">￦5,000</a> </div>
        </div>
      </div>
      <!-- cources-close--> 

       

       <!-- cources-start-->
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="service-block c_lec">
          <div class="c_img">
            <img src="/images/reactJs.png" alt="">
          </div>
          <div class="service-content">
            <h3><a href="#" class="title">React JS 완벽하게 끝내봅시다 ~_~</a></h3>
            <p>김동환 멘토님</p>
            <a href="#" class="btn-link">무료</a> </div>
        </div>
      </div>
      <!-- cources-close--> 
      
                 <div class="lec-index"> 2강. 스프링부트 실행하기</div>
	                    <div class="lec-index"> 3강. 스프링부트 환경설정하기</div>
	                    <div class="lec-index"> 4강. 스프링부트 DB연결하기</div>
	                    <div class="lec-index"> 5강. 스프링부트, maven lib로 웹개발하기</div>
	                    <div class="lec-index"> 6강. 스프링부트, gradle lib로 웹개발하기 </div>
	                    <div class="lec-index"> 7강. 스프링부트, jsp안쓰고 다른걸로 개발하기 </div>
	                    <div class="lec-index"> 8강. 스프링부트, 포기하고 치킨집 차리기</div>
      
      
      
</body>
</html>